/* ============================== */
/* ==========!BILLBOARD========== */
/* ============================== */

/* ----------!MAIN---------- */
.billboard .title,
.billboard .price {
	margin-top: -5px;
	margin-bottom: -5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: $font-size-cart;
	font-weight: $font-weight-3;
	line-height: $line-height-cart;
	}

/* ----------!IMAGE---------- */
.billboard .billboard-image {
	width: 80px;
	height: 80px;
	position: relative;
	overflow: hidden;
	}

/* ----------!SPECIAL---------- */
.billboard .do-add {
	background-color: $color-transparent !important;
	border: 0 none $color-transparent;
	margin: -10px -12px;
	padding: 0;
	width: 50px;
	height: 50px;
	font-size: $font-size-cart;
	font-weight: $font-weight-3;
	line-height: $line-height-cart;
	}
