/* ========================== */
/* ==========!BRAND========== */
/* ========================== */

/* ----------!BUTTON---------- */
.btn-collection-hormone-tests {
	background-color: $color-brand-green-400 !important;
    border-color: $color-brand-green-400 !important;
    color: $color-white !important;
	}
.btn-collection-heavy-metal-tests {
	background-color: $color-brand-yellow-400 !important;
    border-color: $color-brand-yellow-400 !important;
    color: $color-white !important;
	}
.btn-collection-neurotransmitter-tests {
	background-color: $color-brand-blue-600 !important;
    border-color: $color-brand-blue-600 !important;
    color: $color-white !important;
	}

/* ----------!SINGLE---------- */
.single-collection .hero {
	color: $color-white !important;
	}
.single-collection-hormone-tests .hero {
	background-color: $color-brand-green-400 !important;
	}
.single-collection-hormone-tests .feed-product .collection .case,
.collection-hormone-tests .case {
	border-color: $color-brand-green-400 !important;
	}
.single-collection-heavy-metal-tests .hero {
	background-color: $color-brand-yellow-400 !important;
	}
.single-collection-heavy-metal-tests .feed-product .collection .case,
.collection-heavy-metal-tests .case {
	border-color: $color-brand-yellow-400 !important;
	}
.single-collection-neurotransmitter-tests .hero {
	background-color: $color-brand-blue-600 !important;
	}
.single-collection-neurotransmitter-tests .feed-product .collection .case,
.collection-neurotransmitter-tests .case {
	border-color: $color-brand-blue-600 !important;
	}

/* ----------!COLOR---------- */
.single-product-hormone-vitality-complete .image-gallery-slides,
.single-product-hormone-vitality-complete .single-product-color,
.product-hormone-vitality-complete .product-color {
	background-color: rgba(154, 156, 197, 0.3) !important;
	}
.single-product-hormone-vitality-plus .image-gallery-slides,
.single-product-hormone-vitality-plus .single-product-color,
.product-hormone-vitality-plus .product-color {
	background-color: rgba(15, 151, 92, 0.3) !important;
	}
.single-product-hormone-vitality-essentials .image-gallery-slides,
.single-product-hormone-vitality-essentials .single-product-color,
.product-hormone-vitality-essentials .product-color {
	background-color: rgba(154, 156, 195, 0.3) !important;
	}
.single-product-stress-hormone-complete .image-gallery-slides,
.single-product-stress-hormone-complete .single-product-color,
.product-stress-hormone-complete .product-color {
	background-color: rgba(68, 31, 66, 0.3) !important;
	}
.single-product-stress-hormone-plus .image-gallery-slides,
.single-product-stress-hormone-plus .single-product-color,
.product-stress-hormone-plus .product-color {
	background-color: rgba(151, 45, 62, 0.3) !important;
	}
.single-product-stress-hormone-essentials .image-gallery-slides,
.single-product-stress-hormone-essentials .single-product-color,
.product-stress-hormone-essentials .product-color {
	background-color: rgba(232, 40, 44, 0.3) !important;
	}
.single-product-thyroid-plus .image-gallery-slides,
.single-product-thyroid-plus .single-product-color,
.product-thyroid-plus .product-color {
	background-color: rgba(231, 137, 139, 0.3) !important;
	}
.single-product-vitamin-d-complete .image-gallery-slides,
.single-product-vitamin-d-complete .single-product-color,
.product-vitamin-d-complete .product-color {
	background-color: rgba(248, 152, 29, 0.3) !important;
	}
.single-product-male-hormone-essentials .image-gallery-slides,
.single-product-male-hormone-essentials .single-product-color,
.product-male-hormone-essentials .product-color {
	background-color: rgba(37, 165, 217, 0.3) !important;
	}
.single-product-menopause-plus .image-gallery-slides,
.single-product-menopause-plus .single-product-color,
.product-menopause-plus .product-color {
	background-color: rgba(87, 49, 146, 0.3) !important;
	}
.single-product-heavy-metals-gadolinium .image-gallery-slides,
.single-product-heavy-metals-gadolinium .single-product-color,
.product-heavy-metals-gadolinium .product-color {
	background-color: rgba(217, 212, 137, 0.3) !important;
	}
.single-product-brain-balance-complete .image-gallery-slides,
.single-product-brain-balance-complete .single-product-color,
.product-brain-balance-complete .product-color {
	background-color: rgba(226, 199, 221, 0.3) !important;
	}

/* ----------!LIST---------- */
.product-hormone-vitality-complete ul > li:before,
.product-hormone-vitality-plus ul > li:before,
.product-hormone-vitality-essentials ul > li:before {
	color: $color-brand-black-400 !important;
	}
.product-stress-hormone-complete ul > li:before,
.product-stress-hormone-plus ul > li:before,
.product-stress-hormone-essentials ul > li:before,
.product-thyroid-plus ul > li:before,
.product-vitamin-d-complete ul > li:before,
.product-male-hormone-essentials ul > li:before,
.product-menopause-plus ul > li:before {
	color: $color-brand-black-400 !important;
	}
.product-heavy-metals-gadolinium ul > li:before {
	color: $color-brand-black-400 !important;
	}
.product-brain-balance-complete ul > li:before {
	color: $color-brand-black-400 !important;
	}
