/* ======================== */
/* ==========!ADD========== */
/* ======================== */

/* ----------!LAYOUT---------- */
.flex-content-between {
	-webkit-box-pack: justify;
	justify-content: space-between;
	}

/* ----------!CAP---------- */
.cap {
	width: 100%;
	position: relative;
	text-align: center;
	}

/* ----------!CANDY---------- */
.candy {
	width: 450px;
	position: absolute;
	z-index: 900;
	}

/* =========================== */
/* ==========!GUTTER========== */
/* =========================== */

/* ----------!CUSTOM---------- */
.gutter-80-30 {
	margin: -40px -15px;
	}
.gutter-80-30 > * {
	padding: 40px 15px;
	}
.gutter-80-50 {
	margin: -40px -25px;
	}
.gutter-80-50 > * {
	padding: 40px 25px;
	}

/* ============================= */
/* ==========!TEMPLATE========== */
/* ============================= */

/* ----------!PAGE-CONTACT---------- */
.page-contact h4 + p {
    padding-top: 8px;
    }

/* ----------!SINGLE-PRODUCT---------- */
.single-product .method > .image {
	margin: -3px;
	}
.single-product .method > .image + .title {
	margin-left: 5px;
	}
.single-product .list-test {
	margin: -5px;
	}
.single-product .list-test > .list-test-item {
	background-color: $color-panel;
	margin: 5px;
	padding: 5px 10px;
	display: inline-block;
	}

/* ----------!ARCHIVE---------- */
.archive .feed section > article + article {
    margin-top: 80px !important;
    }
@include media-breakpoint-up(lg) {
    .archive .feed section > article + article {
        margin-top: 130px !important;
        }
    }

/* ========================= */
/* ==========!FORM========== */
/* ========================= */

/* ----------!FORM-CONTROL-QUANTITY---------- */
.input-group > .form-control-quantity {
    max-width: 80px;
    }

/* ----------!WIDTH---------- */
@include media-breakpoint-up(lg) {
	#form-register,
	#form-login,
	#form-reset-password {
		width: 340px;
		}
	#form-search {
		width: 890px;
		}
	}

/* ----------!SEARCH---------- */
#form-search .input-group-append {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	}
#form-search .input-group-append .btn-location,
#form-search .input-group-append .btn-reset {
	border: 0 none $color-transparent;
	}
#form-search .input-group-append .btn-search {
	margin-left: 15px;
	}
#form-search #search {
	padding-right: 155px;
	}

/* ----------!POST---------- */
#form-post #content {
	height: 340px;
	}

/* ============================ */
/* ==========!SECTION========== */
/* ============================ */

/* ----------!INTRODUCTION---------- */
#introduction {
	overflow: visible;
	}
#introduction .cap > .candy {
	margin-top: -200px;
	margin-left: -435px;
	top: 0;
	left: 0;
	}
#introduction .cap > .circle {
	background-color: $color-brand-blue-400;
	margin-top: -25px;
	width: 50px;
	height: 50px;
	display: inline-block;
	}

/* ----------!FEATURES---------- */
#features {
	overflow: visible;
	}
#features .cap > .candy {
	margin-top: -190px;
	margin-right: -370px;
	top: 0;
	right: 0;
	}
#features .copy h1,
#features .copy h2,
#features .copy h3 {
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	}

/* ----------!ABOUT---------- */
#about .image {
	margin: 0 auto;
	max-width: 700px;
	}

/* =========================== */
/* ==========!REGION========== */
/* =========================== */

/* ----------!BODY---------- */
#body {
	@include color($color-body);
	}

/* ----------!ROOT---------- */
#root,
#__next,
#___gatsby {
	padding-top: $header-height-xs;
	padding-bottom: $footer-height-xs;
	}
@include media-breakpoint-up(lg) {
    #root,
    #__next,
    #___gatsby {
		padding-top: $header-height-lg;
		padding-bottom: $footer-height-lg;
		}
	}

/* ----------!OFFCANVAS---------- */
#offcanvas {
	@include color($color-offcanvas);
	// -webkit-box-shadow: inset 5px 0 20px -10px rgba(0, 0, 0, 0.2);
	// 		box-shadow: inset 5px 0 20px -10px rgba(0, 0, 0, 0.2);
	}
#offcanvas .logo {
	padding: 10px 15px;
	}

/* ----------!HEADER---------- */
#header {
	@include color($color-header);
	}
#header .logo {
    width: $logo-width;
    height: $logo-height;
	}

/* ----------!BAR---------- */
#bar {
	@include color($color-bar);
	border-bottom: 1px solid $color-text-base;
	top: 0;
	bottom: 0;
	opacity: 0;
	z-index: -1;
	}

/* ----------!MAIN---------- */
#main {
    @include color($color-main);
	}

/* ----------!FOOTER---------- */
#footer {
	@include color($color-footer);
	}
#footer .navbar {
    margin-top: -30px;
	}
#footer .logo {
    width: $logo-width;
    height: $logo-height;
	filter: brightness(0) invert(1);
	}
#footer .copyright {
    margin: 0;
    }
#footer #footer-default .zone .case {
    padding-top: 10px;
    padding-bottom: 10px;
    }
@include media-breakpoint-up(lg) {
    #footer #footer-default .zone .case {
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: right;
        }
    }
#footer #footer-second .zone {
    padding-bottom: 25px;
    }
@include media-breakpoint-up(lg) {
    #footer #footer-second .zone {
        margin-top: -9px;
        }
    }
#footer #footer-second .separator {
    margin: 0 30px;
    }
#footer #footer-second .copyright {
    padding-top: 43px;
    }
@include media-breakpoint-up(lg) {
    #footer #footer-second .copyright {
        padding-top: 0;
        text-align: right;
        }
	}
