/* =========================== */
/* ==========!BUTTON========== */
/* =========================== */

/* ----------!BASIC---------- */
.btn {
	background-image: none;
	border-width: 2px;
	padding: 3px 28px;
	font-weight: $font-weight-3;
	color: $color-text-base;
	-ms-touch-action: manipulation;
		touch-action: manipulation;
	}
@include media-breakpoint-down(md) {
	.btn {
		width: 100%;
		display: block;
		}
	}
.btn:active,
.btn:hover,
.btn:focus {
    color: $color-text-base;
    }

/* ----------!DEFAULT---------- */
.btn-default {
	@include color($color-button-default);
	}
.btn-default.active,
.btn-default.active.focus,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.focus,
.btn-default:active,
.btn-default:active.focus,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:hover,
.btn-default:focus {
	@include color($color-button-default-hover);
	}

/* ----------!ALTERNATE---------- */
.btn-alternate {
	@include color($color-button-alternate);
	}
.btn-alternate.active,
.btn-alternate.active.focus,
.btn-alternate.active:hover,
.btn-alternate.active:focus,
.btn-alternate.focus,
.btn-alternate:active,
.btn-alternate:active.focus,
.btn-alternate:active:hover,
.btn-alternate:active:focus,
.btn-alternate:hover,
.btn-alternate:focus {
	@include color($color-button-alternate-hover);
	}

/* ----------!MAIN---------- */
.btn-main {
	@include color($color-button-main);
	}
.btn-main.active,
.btn-main.active.focus,
.btn-main.active:hover,
.btn-main.active:focus,
.btn-main.focus,
.btn-main:active,
.btn-main:active.focus,
.btn-main:active:hover,
.btn-main:active:focus,
.btn-main:hover,
.btn-main:focus {
	@include color($color-button-main-hover);
	}

/* ----------!HOLLOW---------- */
.btn-hollow {
	@include color($color-button-hollow);
	}
.btn-hollow.active,
.btn-hollow.active.focus,
.btn-hollow.active:hover,
.btn-hollow.active:focus,
.btn-hollow.focus,
.btn-hollow:active,
.btn-hollow:active.focus,
.btn-hollow:active:hover,
.btn-hollow:active:focus,
.btn-hollow:hover,
.btn-hollow:focus {
	@include color($color-button-hollow-hover);
	}

/* ----------!LINK---------- */
.btn-link {
	@include color($color-button-link);
	text-decoration: none !important;
	}

/* ----------!TEXT---------- */
.btn-text {
	font-weight: $font-weight-1;
	font-size: $font-size-text;
	line-height: $line-height-text;
	}

/* ----------!STYLE---------- */
.btn-pill {
	border-radius: 50px !important;
	}
.btn-lean {
	@include color($color-button-hollow);
	padding: 14px 30px !important;
	line-height: 10px;
	}

/* ----------!SIZE---------- */
.btn-md {
	height: 30px;
	font-size: $font-size-button;
	line-height: $line-height-button;
	}
.btn-lg,
.btn-xl,
.btn-hg {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: $font-size-text;
	line-height: $line-height-text;
	}
@include media-breakpoint-up(sm) {
	.btn-auto {
		width: auto;
		display: inline-block;
		}
	.btn-width {
		max-width: 210px;
		}
	}
@include media-breakpoint-up(lg) {
	.btn-xl {
		padding: 13px 18px;
		min-width: 210px;
		font-size: 27px;
		line-height: 30px;
		}
	}

/* ----------!REMOVE---------- */
.btn-cart {
	position: relative;
	}
