/* ========================= */
/* ==========!CART========== */
/* ========================= */

/* ----------!SPRING---------- */
.spring-slide-cart {
	background-color: $color-white;
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	z-index: 2000;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
	}
@include media-breakpoint-up(md) {
	.spring-slide-cart {
		max-width: 550px;
		}
	}
.spring-slide-cart .spring-slide-close {
	margin: 60px;
	padding: 15px;
	width: 50px;
    height: 50px;
    position: fixed;
    top: 0px;
    right: 0px;
    line-height: 20px;
	color: $color-text-base;
    text-shadow: none;
    opacity: 1 !important;
    z-index: 9999;
    user-select: none;
	}

/* ----------!MAIN---------- */
.cart {
	height: 100%;
	}
.cart .pod {
	padding-top: 30px;
	padding-bottom: 30px;
	}

/* ----------!LIST---------- */
.cart .cart-list {
	padding: 0;
	list-style: none;
	}
.cart .cart-list .cart-line-item .cart-line-item-image {
	background-color: $color-panel;
	padding: 12px;
	width: 100px;
	height: 75px;
	position: relative;
	overflow: hidden;
	}
.cart .cart-list .cart-line-item .title,
.cart .cart-list .cart-line-item .price {
	margin-top: -5px;
	margin-bottom: -5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: $font-size-cart;
	font-weight: $font-weight-1;
	line-height: $line-height-cart;
	}
.cart .cart-list .cart-line-item .title {
	font-weight: $font-weight-3;
	}
.cart .cart-list .cart-line-item .input-group > .form-control-quantity-update {
	max-width: 130px;
	}

/* ----------!SUMMARY---------- */
.cart .cart-summary > p {
	text-align: right;
	}
.cart .cart-summary .cart-detail {
	margin-top: -5px;
	margin-bottom: -5px;
	font-size: $font-size-cart;
	font-weight: $font-weight-1;
	line-height: $line-height-cart;
	}
.cart .cart-summary .cart-subtotal {
	font-weight: $font-weight-3;
	}

/* ----------!HEADER---------- */
.cart .cart-header .btn-text {
	border: 0 none $color-transparent;
	margin: -20px -17px;
	padding: 0;
	min-width: 50px;
	position: relative;
	font-size: 20px;
	font-weight: 400;
    line-height: 50px;
	}
.cart .cart-header .to-checkout {
	margin: -20px -8px;
	color: $color-cart-indicator;
	}
.cart .cart-header .cart-indicator {
    margin-top: -3px;
    margin-right: -2px;
	vertical-align: middle;
	}

/* ----------!SECTION---------- */
.cart .cart-section .empty {
	margin-top: -5px;
	margin-bottom: -5px;
	font-size: $font-size-cart;
	font-weight: $font-weight-1;
	line-height: $line-height-cart;
	}

/* ----------!SECTION---------- */
.cart .cart-content {
	margin-right: -30px;
	padding-right: 30px;
	overflow-x: hidden;
	overflow-y: scroll;
	}

/* ----------!SPECIAL---------- */
.cart .do-update {
	padding-left: 8px;
	padding-right: 8px;
	font-size: 16px;
	font-weight: $font-weight-1;
	line-height: $line-height-cart;
	}
.cart .do-update.disabled,
.cart .do-update:disabled {
	opacity: 0;
	cursor: default;
	}
.cart .do-remove {
	background-color: $color-transparent !important;
	border: 0 none $color-transparent;
	margin: -10px -20px;
	padding: 0;
	width: 50px;
	height: 50px;
	font-size: $font-size-cart;
	font-weight: $font-weight-1;
	line-height: $line-height-cart;
	opacity: 0.2;
	transition: 0.2s;
	}
.cart .do-remove:hover {
	color: $color-close;
	opacity: 0.5;
	}

/* ----------!SPACE---------- */
.cart .cart-title + .cart-list {
	margin-top: 50px;
	}
.cart .cart-list .cart-line-item + .cart-line-item {
	margin-top: 30px;
	}
.cart .cart-header + .cart-section,
.cart .cart-section + .cart-section,
.cart .cart-section + .cart-footer {
	padding-top: 0 !important;
	}

/* ----------!COPY---------- */
.cart .cart-header h3 {
	font-weight: 300;
	}
@include media-breakpoint-up(lg) {
	.cart .cart-header h3 {
		margin-top: -9px;
		margin-bottom: -11px;
		margin-left: -2px;
		margin-right: -2px;
		font-size: 41px;
		line-height: 50px;
		}
	}

/* ----------!INDICATOR---------- */
.cart-indicator {
	background-color: $color-cart-indicator;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	color: $color-white;
	display: inline-block;
	}
.btn-cart .cart-indicator,
.navbar-cart .cart-indicator {
	margin: 5px;
	position: absolute;
	top: 0;
	right: 0;
	}
@include media-breakpoint-up(lg) {
	.btn-cart .cart-indicator,
	.navbar-cart .cart-indicator {
		margin-top: 20px;
		}
	}
