/* ============================= */
/* ==========!DIVISION========== */
/* ============================= */

/* ----------!MAIN---------- */
h1 + h3,
h2 + h3,
h3 + h3,
p + h3,
ol + h3,
ul + h3,
table + h3,
.cart .cart-section + .cart-section,
.cart .cart-section + .cart-footer,
.single-product .product-footer,
#footer .case {
	border-top: 2px solid $color-division !important;
	}
.cart .cart-header,
#header {
    border-bottom: 2px solid $color-division !important;
	}

/* ----------!OFFSET---------- */
#footer .case > * {
    margin-top: -2px !important;
    }

/* ----------!SPACE---------- */
@media (min-width: 992px) {
    .division + .division {
        border-top: 2px solid $color-division;
        margin-top: 80px;
        }
    }
