/* ========================= */
/* ==========!MAIN========== */
/* ========================= */

/* ----------!CASE---------- */
.feed-collection .case,
.feed-product .case {
	border: 2px solid $color-panel;
	height: 100%;
	position: relative;
	}
@include media-breakpoint-up(md) {
	.feed-collection .case,
	.feed-product .case {
		min-height: 610px;
		}
	}
.feed-collection .collection .case,
.feed-product .collection .case {
	padding: 80px 28px 50px;
	}

/* ----------!TEXT---------- */
.feed-collection .collection .case .title,
.feed-product .collection .case .title {
	font-weight: $font-weight-2;
    }
@include media-breakpoint-up(lg) {
	.feed-collection .collection .case .title,
	.feed-product .collection .case .title {
		margin-top: -7px;
		margin-bottom: -8px;
		margin-left: -2px;
		margin-right: -2px;
		line-height: 30px;
		font-size: 20px;
		}
	}

/* =============================== */
/* ==========!COLLECTION========== */
/* =============================== */

/* ----------!TEXT---------- */
.feed-collection .collection .case .action {
	font-size: 14px;
	font-weight: $font-weight-3;
	line-height: 20px;
    color: $color-brand-orange-400;
	}
@include media-breakpoint-up(md) {
	.feed-collection .collection .case .action {
		opacity: 0;
		transition: 0.2s;
		}
	.feed-collection .collection .case:hover .action {
		opacity: 1;
		}
	}

/* ============================ */
/* ==========!PRODUCT========== */
/* ============================ */

/* ----------!BASIC---------- */
.feed-product .product .case figure,
.feed-product .product .case header,
.feed-product .product .case section,
.feed-product .product .case footer {
	padding: 0;
	}
.feed-product .product .case figure {
	background-color: $color-panel;
	}

/* ----------!LIST---------- */
.feed-product .product .case ul {
	padding-left: 0 !important;
	list-style: none;
	}
.feed-product .product .case ul > li:before {
	margin-right: 10px;
	content: '✔';
	}

/* ----------!POD---------- */
.feed-product .product .case .pod {
	padding: 30px 28px;
	}

/* ----------!TEXT---------- */
.feed-product .product .case .title,
.feed-product .product .case .title > a,
.feed-product .product .case .action,
.feed-product .product .case .price {
	font-size: 14px;
	line-height: 20px;
    color: $color-text-base;
	}
.feed-product .product .case .title,
.feed-product .product .case .title > a,
.feed-product .product .case .action {
	font-weight: $font-weight-3;
	}
.feed-product .product .case .action {
    color: $color-brand-orange-400;
	}
@include media-breakpoint-up(md) {
	.feed-product .product .case .action {
		opacity: 0;
		transition: 0.2s;
		}
	.feed-product .product .case:hover .action {
		opacity: 1;
		}
	}
.feed-product .product .case .type {
	min-height: 55px;
	font-weight: $font-weight-1;
	text-transform: uppercase;
	}
.feed-product .product .case ul > li,
.feed-product .product .case .type {
	font-size: 12px;
	line-height: 20px;
    color: $color-text-base;
	}

/* ----------!SPACE---------- */
.feed-product .collection .case .title + .description {
	padding-top: 41px;
	}
.feed-product .product .case ul > li + li {
	padding-top: 0 !important;
	}
.feed-product .product .case .title {
	margin-top: -4px;
	margin-bottom: -6px;
	margin-left: -1px;
	margin-right: -1px;
	}
.feed-product .product .case .title + .type {
	padding-top: 15px;
	}
.feed-product .product .case ul,
.feed-product .product .case .type,
.feed-product .product .case .price,
.feed-product .product .case .action {
	margin-top: -5px;
    margin-bottom: -5px;
	}
