/* ========================= */
/* ==========!HERO========== */
/* ========================= */

/* ----------!MAIN---------- */
.hero {
	height: 100%;
	overflow: hidden;
	cursor: default;
	}

/* ----------!SCROLL-TO---------- */
.hero .scroll-to {
    margin-bottom: 30px;
    bottom: 0;
    }

/* =============================== */
/* ==========!RESPONSIVE========== */
/* =============================== */

/* ----------!TABLET---------- */
@include media-breakpoint-up(sm) {
	.hero {
		height: 340px;
		}
	}

/* ----------!LAPTOP---------- */
@include media-breakpoint-up(lg) {
	.hero {
		height: 550px;
		}
	}
