/* =========================== */
/* ==========!LOADER========== */
/* =========================== */

/* ----------!MAIN---------- */
.loader {
    height: auto;
    font-weight: 300;
    z-index: 9999;
    }
.loader-label {
    margin: 0;
    }
