/* ========================== */
/* ==========!PANEL========== */
/* ========================== */

/* ----------!GENERAL---------- */
.panel {
    background-color: #fafafa;
    padding: 30px;
    position: relative;
    }
