/* ========================== */
/* ==========!STYLE========== */
/* ========================== */

/* ----------!SELECTION---------- */
::selection {
	@include color($color-selection);
	}

/* ----------!COLOR---------- */
.color-0 {
	background-color: $color-transparent !important;
	}
.color-1 {
	background-color: $color-white !important;
	}
.color-2 {
	background-color: $color-brand-grey-300 !important;
	}
.color-3 {
	background-color: $color-brand-black-400 !important;
	color: $color-white;
	}
.color-4 {
	background-color: $color-brand-blue-300 !important;
	}
.color-5 {
	background-color: $color-brand-blue-400 !important;
	color: $color-white;
	}
.color-6 {
	background-color: $color-brand-blue-500 !important;
	color: $color-white;
	}
.color-7 {
	background-color: $color-brand-blue-600 !important;
	color: $color-white;
	}
.color-8 {
	background-color: $color-brand-yellow-300 !important;
	}

/* ----------!TINT---------- */
.dark-20 {
	background: rgba(0, 0, 0, 0.2);
	}
.dark-30 {
	background: rgba(0, 0, 0, 0.3);
	}
.dark-50 {
	background: rgba(0, 0, 0, 0.5);
	}
.dark-80 {
	background: rgba(0, 0, 0, 0.8);
	}
.light-20 {
	background: rgba(255, 255, 255, 0.2);
	}
.light-30 {
	background: rgba(255, 255, 255, 0.3);
	}
.light-50 {
	background: rgba(255, 255, 255, 0.5);
	}
.light-80 {
	background: rgba(255, 255, 255, 0.8);
	}

/* ----------!OPACITY---------- */
.opacity-20 {
    opacity: 0.2;
    }
.opacity-30 {
    opacity: 0.3;
    }
.opacity-50 {
    opacity: 0.5;
    }
.opacity-80 {
    opacity: 0.8;
    }

/* ----------!BACKGROUND---------- */
.background-image {
	background-color: $color-transparent !important;
	}
.background-parallax {
	background-color: $color-transparent !important;
	}

/* ----------!BORDER---------- */
.style-border {
	border-top: 5px solid $color-white;
	padding-top: 30px;
	}

/* ----------!SHADOW---------- */
.style-shadow-xs {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	}
.style-shadow-sm {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}
.style-shadow-md {
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
	}
.style-shadow-lg {
	box-shadow: 0 5px 13px rgba(0, 0, 0, 0.1);
	}

/* ----------!CHEAT---------- */
@media (min-width: 1440px) {
    .cheat-left {
        margin-left: -30px;
        }
    .cheat-right {
        margin-right: -30px;
        }
    .cheat-both {
        margin-left: -30px;
        margin-right: -30px;
        }
    }

/* ----------!WIDTH---------- */
@media (min-width: 992px) {
    .width p {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 720px;
        }
    }
